description: >
  TODO. Add your description for the table here.
  Feel free to use multiple lines for your description if needed! That's what
  the '>' above allows you to do in YAML files.
columns:
{% for column in columns %}
  - name: {{ column['name'] }}
    type: {{ column['type'] | map_type }}
    description: >
      TODO. Add your description about the {{ column['name'] }} column here.
      Feel free to use multiple lines for your description if needed!
{% endfor %}
